{% extends "layout.html" %}

{% block title %}
  APY Alert
{% endblock %}

{% block main %}
    <div class="container">
        <h2>Set your APY Alert </h2>
        <form action="/setalert" method="POST">
            <label for="contact">Remind me </label>
            <input type="text" id="contact" name="contact" placeholder="Enter Discord or Telegram" />
        
            <label for="protocol"> when </label>
            <select id = "protocol" name = "protocol" required>
                <option value = "" disabled selected>Select a protocol</option>
                {% for pool in protocols %}
                <option value="{{ pool['pool']}}">{{pool['project']}} | {{pool['symbol']}} : {{ "%.2f"|format(pool['apy']) }} %</option>
                {% endfor %}
            </select>
        
            <label for ="condition"> APY goes</label>
            <select id = "condition" name = "condition">
                <option value = "above">Above</option>
                <option value = "below">Below</option>
            </select>
        
            <input type ="number" name = "threshold" placeholder="Eg. 5 (%)" min="0" /> %
        
            <button type ="submit">Set Alert</button>
        
        </form>
    </div>
{% endblock %}