{% extends "layout.html" %}

{% block title %}
  Calculate Returns
{% endblock %}

{% block main %}
    <div class="container">
        <h2>Returns Calculator</h2>

        <form action="/calculate" method="POST">
            <div >
                <p>Investment Amount</p>
                <input type = "number" name="amount" required>
            </div>
            <br>
            <br>

            <div >
                <select name = "protocol" required>
                    {% for pool in protocols %}
                        <option value="">{{pool['project']}} | {{pool['symbol']}} : {{ "%.2f"|format(pool['apy']) }} %</option>
                    {% endfor %}
                </select>
            </div>

            <br>
            <br>

            <div>
                <p>Duration (Years)</p>
                <input type = "number" name="duration" required>
            </div>

            <button type="submit">Calculate</button>
        </form>
    
    </div>

{% endblock %}