
{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
    
        <div class="container">
            <div class="section">

                <h2>Search By token</h2>
                <!-- TODO: Create a form for users to submit a name, a month, and a day -->
                <form method="POST">
                    <input name="chain" type="text" placeholder="Filter By Chain" autofocus autocomplete="on">
                    <button name="submit" type="submit">Submit</button>
                    
                </form>

                <div id = "pool-list">
                    {% for pool in pools %}
                        <div class = "pool-card" data-pool= "{{ pool['pool'] }}" data-apy = "{{ pool['apy']}}">
                            <h3>{{ pool["project"]}}</h3>
                            <p><strong>Pair: </strong>{{ pool["symbol"]}}</p>
                            <p><strong>APY: </strong>{{  "%.4f"| format(pool["apy"]) }}</p>
                            <p><strong>Market Cap: </strong>{{ pool["tvlUsd"]}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

{% endblock %}
